.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 4rem;
  min-height: 60vh;

  color: white;

  p {
    font-size: 2rem;
    max-width: 70%;
  }

  h1 {
    font-size: 3rem;
  }
}
