.main {
  background-color: #004264;
  height: 4.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  a {
    margin: 0;
    color: white;
    text-decoration: none;
  }
  img {
    height: 60%;
    margin: 0 2rem;
  }
}
