<div class="main">
  <div class="column">
    <img src="/assets/logo.png" />
  </div>
  <div class="row">
    <div class="column">
      <p>meny</p>
      <p>hjem</p>
      <p>selge bolig</p>
      <p>referanser</p>
      <p>spørsmål og svar</p>
    </div>
    <div class="column">
      <p>boliger</p>
      <p>visningstur</p>
      <p>kontakt</p>
      <p>om oss</p>
    </div>
    <div class="column">
      <p>kontakt oss</p>
      <p>telefon + 47 955 22 321</p>
      <p>Email: info@spaniabosted.no</p>
      <p>adresse: Carretera Villamartin 6</p>
    </div>
  </div>
</div>
