.box {
  color: #004264;
  background-color: #e3f5fe;
  border-radius: 30px;
  height: 12rem;
  width: 12rem;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  margin-bottom: 5rem;
}
